<web-app>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
<!--student page servlets-->

<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddEmp</servlet-name>
<servlet-class>AddEmp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddEmp</servlet-name>
<url-pattern>/AddEmp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteEmp</servlet-name>
<servlet-class>DeleteEmp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteEmp</servlet-name>
<url-pattern>/DeleteEmp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EmployeeLogin</servlet-name>
<servlet-class>EmployeeLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EmployeeLogin</servlet-name>
<url-pattern>/EmployeeLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PostQuestions</servlet-name>
<servlet-class>PostQuestions</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PostQuestions</servlet-name>
<url-pattern>/PostQuestions</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EmailAutomation</servlet-name>
<servlet-class>EmailAutomation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EmailAutomation</servlet-name>
<url-pattern>/EmailAutomation</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DownloadFile1</servlet-name>
<servlet-class>DownloadFile1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DownloadFile1</servlet-name>
<url-pattern>/DownloadFile1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Fileupload</servlet-name>
<servlet-class>Fileupload</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Fileupload</servlet-name>
<url-pattern>/Fileupload</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>OwnerLogin</servlet-name>
<servlet-class>OwnerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>OwnerLogin</servlet-name>
<url-pattern>/OwnerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>OwnerRegister1</servlet-name>
<servlet-class>OwnerRegister1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>OwnerRegister1</servlet-name>
<url-pattern>/OwnerRegister1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ProcessDecryptRequest</servlet-name>
<servlet-class>ProcessDecryptRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProcessDecryptRequest</servlet-name>
<url-pattern>/ProcessDecryptRequest</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ProcessTransferRequest</servlet-name>
<servlet-class>ProcessTransferRequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProcessTransferRequest</servlet-name>
<url-pattern>/ProcessTransferRequest</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ServerLogin</servlet-name>
<servlet-class>ServerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServerLogin</servlet-name>
<url-pattern>/ServerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserLogin1</servlet-name>
<servlet-class>UserLogin1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserLogin1</servlet-name>
<url-pattern>/UserLogin1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserRegister1</servlet-name>
<servlet-class>UserRegister1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserRegister1</servlet-name>
<url-pattern>/UserRegister1</url-pattern>
</servlet-mapping>

</web-app>